#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-0 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-4 P {
  color: #ffffff;
}
#header1-4 B {
  color: #ffffff;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  text-align: center;
  font-size: 18px;
}
#contacts2-1 B {
  color: #ffffff;
}
#contacts2-1 P {
  color: #ffffff;
}
#footer1-3 P {
  color: #ffffff;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-a .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts2-b B {
  color: #ffffff;
}
#contacts2-b P {
  color: #ffffff;
}
#footer1-c P {
  color: #ffffff;
}
